body {
    background: linear-gradient(to right, #8cc63f, #5cb85c);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

.container {
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
    width: 380px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    color: #2d862d;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: #555;
}

.form-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 15px;
}

label {
    font-weight: bold;
    color: #333;
    text-align: left;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    background-color: #2d862d;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #237323;
}

.result-box {
    width: 400px;
}

.result-box p {
    font-size: 16px;
    margin: 15px 0;
}

a {
    text-decoration: none;
    color: #6a1b9a;
    font-weight: bold;
}
